<h1 class="text-center m-4 h1">Faculties</h1>
<table class="table w-50 table-bordered table-striped table-hover m-auto text-center">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Phone Number</th>
    <th>Email</th>
    <th>Date Of Birth</th>
    <th>Designation</th>
  </tr>
<% @faculties.each do |faculty| %>
  <tr>
    <td><%= link_to faculty.id, faculty %></td> 
    <td><%= faculty.first_name + " " + faculty.last_name %></td>
    <td><%= faculty.phone_number %></td>
    <td><%= faculty.email %></td>
    <td><%= faculty.birthdate %></td>
    <td><%= faculty.designation %></td>
  </tr>
<% end %>
</table>

<div class="text-center p-2">
  <button class="btn btn-info"><%= link_to "New Faculty", new_faculty_path, class: "text-decoration-none text-dark" %></Button>
</div>
