<h1 class="text-center m-4 h1">Faculties</h1>
<table class="table w-50 table-bordered table-striped table-hover m-auto text-center">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Phone Number</th>
    <th>Email</th>
    <th>Date Of Birth</th>
    <th>Designation</th>
  </tr>
  <tr>
    <td><%= @faculty.id %></td>
    <td><%= @faculty.first_name + " " + @faculty.last_name %></td>
    <td><%= @faculty.phone_number %></td>
    <td><%= @faculty.email %></td>
    <td><%= @faculty.birthdate %></td>
    <td><%= @faculty.designation %></td>
  </tr>
</table>

<div class="text-center p-2">
  <button class="btn btn-info"><%= link_to 'Home', faculties_path, class: "text-decoration-none text-dark" %></Button>
  <button class="btn btn-warning"><%= link_to 'Edit', edit_faculty_path(@faculty), class: "text-decoration-none text-dark" %></Button>
  <button class="btn btn-danger"><%= link_to "Destroy", faculty_path(@faculty), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "text-decoration-none text-light" %></Button>
</div>
