<p style="color: green"><%= notice %></p>

<main class="container">
  <h1>Posts</h1>
  <%= turbo_frame_tag "posts_frame" do %>

    <%= turbo_frame_tag "first_turbo_frame" do %>
      <div class="header">
        <%= link_to "New post",
                    new_post_path,
                    class: "btn btn--primary" %>
      </div>
    <% end %>

    <%= turbo_frame_tag "second_frame" do %>
      <%= render @posts %>
    <% end %>
  
  <% end %>

</main>
